{% extends "blog/base.html" %}
{% block title %}My blog{% endblock title %}
{% block content %}
    {% comment %} <h1>My Blog</h1>
    {% for post in posts %}
        <h2> 
            <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
        </h2>
        <p>{{post.short_description}}</p>
        <p class='date'>Опубліковано {{post.publish}} автор : {{post.author}}</p>
        {{ post.body|truncatewords:30|linebreaks}}
    {% endfor %} {% endcomment %}

    <h1 class="title text-center my-3">Кулінарна книга</h1> 

    <div class="container">
        {%if tag%}
            <h2 class='text-center'>Теги: "{{tag.name}}"</h2>
        {% endif %}
        <div class="card-deck">
            {% for post in posts %}
                <div class="card">
                    <a href={{ post.get_absolute_url}}>
                        <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href={{ post.get_absolute_url}}>
                            <h5 class="card-title">{{ post.title}}</h5>
                        </a>
                        <p class="card-text">{{ post.short_description}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Опубліковано {{ post.publish }}. Автор {{ post.author }}</small>
                        <p>
                            {% for tag in post.tags.all %}
                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                {{ tag.name }}
                            </a>
                            {% if forloop.last %}, {% endif %}    
                        {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "paginations.html" with page=page_obj %}

{% endblock content %}